/* common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

p {
  margin: 0;
  padding: 0;
}

/* header */
header {
  width: 100%;
  padding: 10px 4% 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.header-a {
  text-decoration: none;
  color: gray;
}

.header-nav {
  margin: 0 0 0 auto;
}

.header-ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.header-li {
  margin: 0 0 0 15px;
  font-size: 14px;
  /* font-weight: bold; */
}

/* body */
/* アイキャッチ */
.eyecatch {
  position: relative;
}

.eyecatch-img {
  width: 60%;
  margin: 0 0 0 auto;
  display: block;
  margin-top: 100px;
}

.message-1 {
  font-family: "Shadows Into Light", cursive;
  position: absolute;
  top: 50px;
  left: 30%;
  font-size: 50px;
  color: darkmagenta;
  /* transform: translate(-50%); */
}

.message-2 {
  position: absolute;
  top: 250px;
  left: 30%;
  font-size: 16px;
  color: darkmagenta;
  font-weight: bold;
  /* transform: translate(-50%); */
}

.message-3 {
  position: absolute;
  top: 280px;
  left: 30%;
  font-size: 12px;
  /* transform: translate(-50%); */
}

/* ニュースリスト */
.newslist {
  padding: 50px 0;
}

.newslist-contents {
  max-width: 700px;
  margin: 0 auto;
}

.newslist h2 {
  font-size: 18px;
  color: darkmagenta;
  font-family: "Shadows Into Light", cursive;
}

.newslist .sub-title {
  font-size: 20px;
  font-weight: bold;
}

.newslist ul {
  border-top: 2px solid rgb(219, 219, 219);
  border-bottom: 2px solid rgb(219, 219, 219);
  padding: 20px 0;
}

.newslist li {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.newslist .newslist-box {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.newslist .newslist-box p {
  padding: 1px 10px;
  background-color: darkmagenta;
  color: #fff;
  margin: 0 15px;
  border-radius: 20px;
}

.newslist .newslist-text {
  text-align: left;
  line-height: 1.5;
}

.newslist .newslist-text a {
  text-decoration: none;
  color: black;
}

/* アバウト */
.about {
  background-color: rgb(241, 241, 241);
  padding: 50px 0;
}

.about-contents {
  max-width: 800px;
  margin: 0 auto;
}

.about h2 {
  text-align: center;
  font-size: 18px;
  color: darkmagenta;
  font-family: "Shadows Into Light", cursive;
}

.about .sub-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.about-desc {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about-desc p {
  width: 300px;
  /* margin-right: 10%; */
}

.about-desc img {
  width: 300px;
  /* margin-left: 10%; */
}

/* サービス */
.service {
  padding: 50px 0;
}

.service-contents {
  max-width: 800px;
  margin: 0 auto;
}

.service h2 {
  font-size: 18px;
  color: darkmagenta;
  font-family: "Shadows Into Light", cursive;
}

.service .sub-title {
  font-size: 20px;
  font-weight: bold;
}

.grid {
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.grid div {
  color: #fff;
  text-align: center;
  padding: 10px;
}

.card-1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: rgb(122, 0, 106);
  display: flex;
  align-items: center;
}

.card-1 p {
  text-align: left;
}

.card-2 {
  background: rgb(255, 68, 224);
  display: flex;
  /* align-items: center; */
}

.card-2 .text {
  text-align: left;
}

.card-3 {
  background: rgb(197, 117, 184);
  display: flex;
  /* align-items: center; */
}

.card-3 .text {
  text-align: left;
}

/* ブログ */
.blog {
  background-color: rgb(241, 241, 241);
  padding: 50px 0;
}

.blog-contents {
  max-width: 800px;
  margin: 0 auto;
}

.blog h2 {
  font-size: 18px;
  color: darkmagenta;
  font-family: "Shadows Into Light", cursive;
}

.blog .sub-title {
  font-size: 20px;
  font-weight: bold;
}

.blog-cards {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.blog-card {
  background: white;
  border-radius: 10px;
  width: 30%;
}

.card-img {
  position: relative;
}

.card-img img {
  border-radius: 10px 10px 0 0;
}

.card-img p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: darkmagenta;
  display: inline-block;
  padding: 5px 15px;
  color: white;
  border-radius: 10px 0 0 0;
}

.card-contents {
  margin: 15px;
}

.card-contents .title {
  font-size: 14px;
}

.blog .footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 40px;
}

/* カンパニー */
.company {
  padding: 50px 0;
}

.company-contents {
  max-width: 800px;
  margin: 0 auto;
}

.company h2 {
  font-size: 18px;
  color: darkmagenta;
  font-family: "Shadows Into Light", cursive;
}

.company .sub-title {
  font-size: 20px;
  font-weight: bold;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 50px auto;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  font-weight: bold;
  background-color: #dedede;
}

/* リクルート */
.recruit {
  display: flex;
  position: relative;
}

.recruit-info {
  width: 100%;
}

.recruit-info img {
  width: 100%;
}

.recruit-info p {
  position: absolute;
  top: 50%;
  left: 25%;
  color: white;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: bold;
}

.recruit-interview {
  width: 100%;
}

.recruit-interview img {
  width: 100%;
}

.recruit-interview p {
  position: absolute;
  top: 50%;
  left: 75%;
  color: white;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: bold;
}

/* コンタクト */
.contact {
  padding: 50px 0;
  text-align: center;
}

.contact p {
  display: inline-block;
  margin-bottom: 20px;
}

.contact .line {
  /* margin: 0 auto; */
  margin: 0 auto;
  margin-bottom: 20px;
  width: 2px;
  height: 50px;
  background-color: darkmagenta;
}

.contact .btn {
  /* margin: 0 auto; */
}

/* .btn {
  width: 100px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 10px 0 10px;
  background: #6bcbf6;
  border-radius: 5px;
  box-shadow: 1px 1px #1a6ea0;
  position: relative;
} */

.btn {
  position: relative;
  background: linear-gradient(to right, rgb(241, 47, 241), darkmagenta);
  width: 200px;
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
  text-decoration: none;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0px 6px 1px rgb(65, 1, 59);
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  transform: translate(0, -50%);
}
